@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap');


.bodyPage {
    background-color: rgb(54, 54, 54);
    height: 100%;
}
.inscriptionBox {
    background-color: rgb(233, 233, 233);
    width: 40vw;
	aspect-ratio: 3/2;
	border-left: 0.7vw solid rgb(255, 94, 0);
	padding: 2vw;
	display: flex;
}

.flexCenter{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.connexionTitle
{
    align-self: flex-start;
    // margin-left:1vw;
    font-family: 'Poppins', sans-serif;
    font-size: 5vw;
    margin: 5vw;

}

h2 {
    color:rgb(180, 174, 174);
    font-family: 'Poppins', sans-serif;
    font-size: 3vw;
}