.title {
    color: rgb(255, 255, 255);
    font-family: 'poppins', sans-serif;
    font-size: 700;
    font-style: italic;
}

.titleDiv{
    display: flex;
    justify-content: center;
    margin-top:5vh;
}