.avatar{
    // max-height: 100%;
    height: auto;
    width: 20vw;
    align-self: self-start;
    // aspect-ratio: 1/1;
    // background-color: transparent;
}

.header{
    display:flex;
    // flex-direction: column;
    align-items: center;
    width: 100%;
    height: 20vh;


}

.textHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nameTeam {
    font-family: 'poppins';
    font-style: italic;
    margin: 0;
    font-size: 8vmin;
}

.cityTeam {
    font-family: 'poppins';
    font-style: italic;
    margin: 0;
    color: rgb(222, 70, 0);;
    font-size: 4vmin;
}