@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap');

.logoSpan{
    color:rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-style: italic;
    margin-left: 1vw;
    font-size: 2vw;
    margin: 0;
}
