.navBar {
    background-color: rgb(222, 70, 0);
    width: 100vw;
    height: 7vh;
    position: fixed;
    top: 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    margin-left: 2vw;
}

.buttons {
    display:flex;
    height: 100%;
    align-items: center;
}

